.stepper {
	font-size: 16px;

	.welcome-step {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		&__block {
			display: inline-block;
			height: 200px;
			width: 200px;
			margin-bottom: 10px;
			text-align: center;
			vertical-align: middle;
			border: 1px #646c9a solid;
			border-radius: 10px;
			transition: .5s;

			&:hover {
				box-shadow: 0 0 20px #646c9a8a;
			}
		}

		.active {
			display: inline-block;
			height: 200px;
			width: 200px;
			margin-bottom: 10px;
			text-align: center;
			vertical-align: middle;
			border: 1px #646c9a solid;
			border-radius: 10px;
			box-shadow: 0 0 20px #646c9a8a;
		}
	}

	.button-group {
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}
}
